@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.w-25 {
    width: 25%;
}
.food-title {
	font-weight: 700;
	border-bottom: 3px solid #ddd;
	margin-bottom: 45px;
}
.marquee:hover p {
  animation-play-state: paused;
}
.marquee{
  white-space: nowrap;
}
.marquee p {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.cursor-pointer {
    cursor: pointer;
}

#map {
    height: 300px;
}

#search-results {
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    position: absolute;
    width: 94%;
    background: #fff;
    z-index: 99999;
    max-height: 198px;
    overflow-y: auto;
}

#search-results li {
    padding: 5px;
    cursor: pointer;
    background: #f5f5f5;
    margin-bottom: 5px;
}

#search-results li span:first-child{
    font-weight: bold;
    font-size: 14px;
}

#search-results li span:nth-last-child(1){
    font-size: 13px;
}

#search-results li:hover {
    background-color: #b4b4b4;
}



