/*----- utils ----------*/
.wp-20 {
    width: 20%;
}
.wp-40 {
    width: 40%;
}
.wp-60 {
    width: 60%;
}
.wp-25 {
    width: 25%;
}
.wp-15 {
    width: 15%;
}

.badge-success {
    background: #067606;
}

.badge-danger {
    background: #9c0626;
}

/*----- utils ----------*/

/*----- Main Body ------*/
main#main {
    min-height: 85vh;
}

/*---- Map ----------*/
#map {
    height: 300px;
}
#search-results {
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    position: absolute;
    width: 94%;
    background: #fff;
    z-index: 99999;
    max-height: 198px;
    overflow-y: auto;
}

#search-results li {
    padding: 5px;
    cursor: pointer;
    background: #f5f5f5;
    margin-bottom: 5px;
}

#search-results li span:first-child{
    font-weight: bold;
    font-size: 14px;
}

#search-results li span:nth-last-child(1){
    font-size: 13px;
}

#search-results li:hover {
    background-color: #b4b4b4;
}
/*---- Map ----------*/

/*------- Data Table ------*/
.dataTables_wrapper {
    padding: 10px 0;
}
.dataTables_length {
    float: right;
}
.dataTables_info {
    float: right;
}
input[type=search] {
     outline-offset: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .2em 0.5em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 2px;
    background: rgba(0,0,0,0);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: inherit !important;
    border: 1px solid rgba(0,0,0,.3);
    background-color: rgba(230,230,230,.1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
/*------- Data Table ------*/

/*----------- Switch--------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/*----------- Switch--------*/

/*----------- Pagination -----------*/
.pagination {
    float: right;
}
/*----------- Pagination -----------*/
